html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 600px;
  margin: 0 auto;
  box-shadow: 0px 9px 14px -1px #acacac;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
}

.view {
  will-change: transform;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.list-view {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.details-view {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  box-sizing: border-box;
  padding: 30px;
}

.view-change .list-view {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.view-change .details-view {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  box-sizing: border-box;
  line-height: 50px;
  padding: 0 30px;
  border-bottom: 1px solid #CCC;
  /* background: linear-gradient(to bottom, #FFF, #FAFAFA); */
  background: linear-gradient(to bottom, #f2f2f2, #fafafa);
}